body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:861px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3632 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:120px;
  width:796px;
  height:111px;
}
#u3633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u3633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
  text-align:center;
}
#u3634 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  word-wrap:break-word;
}
#u3635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u3635 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:0px;
  width:94px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3636 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u3637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:36px;
}
#u3637 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:0px;
  width:89px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3638 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u3639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u3639 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:0px;
  width:90px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3640 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u3641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:36px;
}
#u3641 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:0px;
  width:254px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3642 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:250px;
  word-wrap:break-word;
}
#u3643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
}
#u3643 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:0px;
  width:84px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3644 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u3645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:36px;
}
#u3645 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:0px;
  width:57px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3646 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:53px;
  word-wrap:break-word;
}
#u3647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u3647 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:0px;
  width:74px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3648 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u3649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
}
#u3649 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:49px;
  height:40px;
  text-align:center;
}
#u3650 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:45px;
  word-wrap:break-word;
}
#u3651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
}
#u3651 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:36px;
  width:94px;
  height:40px;
  color:#000000;
  text-align:center;
}
#u3652 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:90px;
  word-wrap:break-word;
}
#u3653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u3653 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:36px;
  width:89px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3654 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:85px;
  word-wrap:break-word;
}
#u3655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u3655 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:36px;
  width:90px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3656 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u3657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u3657 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:36px;
  width:254px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3658 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
}
#u3659 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:36px;
  width:84px;
  height:40px;
  text-align:center;
}
#u3660 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u3661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
}
#u3661 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:36px;
  width:57px;
  height:40px;
  text-align:center;
}
#u3662 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u3663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:40px;
}
#u3663 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:36px;
  width:74px;
  height:40px;
  text-align:center;
}
#u3664 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:70px;
  word-wrap:break-word;
}
#u3665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u3665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:49px;
  height:30px;
  text-align:center;
}
#u3666 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u3667 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:76px;
  width:94px;
  height:30px;
  text-align:center;
}
#u3668 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u3669 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:76px;
  width:89px;
  height:30px;
  text-align:center;
}
#u3670 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u3671 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:76px;
  width:90px;
  height:30px;
  text-align:center;
}
#u3672 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:30px;
}
#u3673 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:76px;
  width:254px;
  height:30px;
  text-align:center;
}
#u3674 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u3675 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:76px;
  width:84px;
  height:30px;
  text-align:center;
}
#u3676 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
}
#u3677 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:76px;
  width:57px;
  height:30px;
  text-align:center;
}
#u3678 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u3679 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:76px;
  width:74px;
  height:30px;
  text-align:center;
}
#u3680 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3681 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:49px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3683 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:46px;
  width:82px;
  height:25px;
}
#u3683_input {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3684 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:83px;
  width:70px;
  height:25px;
}
#u3684_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3685 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:46px;
  width:70px;
  height:25px;
}
#u3685_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3686 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:240px;
  width:202px;
  height:18px;
}
#u3687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
