body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:690px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4131 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:250px;
  width:575px;
  height:250px;
}
#u4132 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:117px;
  width:571px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4133 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:95px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4135 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:91px;
  width:90px;
  height:25px;
}
#u4135_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4136 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:519px;
  width:53px;
  height:18px;
}
#u4137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4138 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:519px;
  width:40px;
  height:18px;
}
#u4139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u4140 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:515px;
  width:90px;
  height:25px;
}
#u4140_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4141 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:515px;
  width:90px;
  height:25px;
}
#u4141_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4142 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:126px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4144 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:126px;
  width:490px;
  height:100px;
}
#u4144_input {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:100px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4145 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:93px;
  width:40px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u4147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4147 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:93px;
  width:53px;
  height:18px;
}
#u4148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4149 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:91px;
  width:90px;
  height:25px;
}
#u4149_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4150 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:91px;
  width:90px;
  height:22px;
}
#u4150_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4150_input:disabled {
  color:grayText;
}
#u4151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u4151 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:236px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u4152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4153 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:306px;
  width:543px;
  height:185px;
}
#u4154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u4154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4155 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u4156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u4156 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:0px;
  width:156px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4157 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:152px;
  word-wrap:break-word;
}
#u4158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u4158 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:0px;
  width:145px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4159 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u4160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u4160 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:0px;
  width:88px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4161 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u4162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u4162 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:0px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4163 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u4164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u4164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:78px;
  height:30px;
  text-align:center;
}
#u4165 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u4166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u4166 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:30px;
  width:156px;
  height:30px;
  text-align:center;
}
#u4167 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:152px;
  word-wrap:break-word;
}
#u4168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u4168 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:30px;
  width:145px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4169 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u4170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u4170 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:30px;
  width:88px;
  height:30px;
  text-align:center;
}
#u4171 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u4172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u4172 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:30px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4173 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u4174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u4174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:78px;
  height:30px;
  text-align:center;
}
#u4175 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u4176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u4176 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:60px;
  width:156px;
  height:30px;
  text-align:center;
}
#u4177 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:152px;
  word-wrap:break-word;
}
#u4178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u4178 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:60px;
  width:145px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4179 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u4180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u4180 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:60px;
  width:88px;
  height:30px;
  text-align:center;
}
#u4181 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u4182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u4182 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:60px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4183 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u4184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u4184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:78px;
  height:30px;
  text-align:center;
}
#u4185 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u4186 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:90px;
  width:156px;
  height:30px;
  text-align:center;
}
#u4187 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u4188 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:90px;
  width:145px;
  height:30px;
  text-align:center;
}
#u4189 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u4190 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:90px;
  width:88px;
  height:30px;
  text-align:center;
}
#u4191 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u4192 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:90px;
  width:71px;
  height:30px;
  text-align:center;
}
#u4193 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u4194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:78px;
  height:30px;
  text-align:center;
}
#u4195 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u4196 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:120px;
  width:156px;
  height:30px;
  text-align:center;
}
#u4197 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u4198 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:120px;
  width:145px;
  height:30px;
  text-align:center;
}
#u4199 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u4200 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:120px;
  width:88px;
  height:30px;
  text-align:center;
}
#u4201 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u4202 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:120px;
  width:71px;
  height:30px;
  text-align:center;
}
#u4203 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u4204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:78px;
  height:30px;
  text-align:center;
}
#u4205 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u4206 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:150px;
  width:156px;
  height:30px;
  text-align:center;
}
#u4207 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u4208 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:150px;
  width:145px;
  height:30px;
  text-align:center;
}
#u4209 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u4210 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:150px;
  width:88px;
  height:30px;
  text-align:center;
}
#u4211 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u4212 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:150px;
  width:71px;
  height:30px;
  text-align:center;
}
#u4213 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4214 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:59px;
  width:53px;
  height:18px;
}
#u4215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4216 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:59px;
  width:27px;
  height:18px;
}
#u4217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4218 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:61px;
  width:27px;
  height:18px;
}
#u4219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4220 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:59px;
  width:90px;
  height:22px;
}
#u4220_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4220_input:disabled {
  color:grayText;
}
#u4221 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:55px;
  width:90px;
  height:25px;
}
#u4221_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4222 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:56px;
  width:90px;
  height:25px;
}
#u4222_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4223 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:268px;
  width:60px;
  height:25px;
}
#u4223_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4224 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:570px;
  width:118px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
