body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:690px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3688 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:250px;
  width:575px;
  height:250px;
}
#u3689 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:117px;
  width:571px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3690 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:95px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3692 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:91px;
  width:90px;
  height:25px;
}
#u3692_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3693 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:519px;
  width:53px;
  height:18px;
}
#u3694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3695 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:519px;
  width:40px;
  height:18px;
}
#u3696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u3697 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:515px;
  width:90px;
  height:25px;
}
#u3697_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3698 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:515px;
  width:90px;
  height:25px;
}
#u3698_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3699 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:126px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3700 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3701 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:126px;
  width:490px;
  height:100px;
}
#u3701_input {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:100px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3702 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:93px;
  width:40px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3703 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u3704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3704 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:93px;
  width:53px;
  height:18px;
}
#u3705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3706 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:91px;
  width:90px;
  height:25px;
}
#u3706_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3707 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:91px;
  width:90px;
  height:22px;
}
#u3707_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3707_input:disabled {
  color:grayText;
}
#u3708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3708 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:236px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u3709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3710 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:306px;
  width:543px;
  height:185px;
}
#u3711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u3711 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3712 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u3713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u3713 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:0px;
  width:156px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3714 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:152px;
  word-wrap:break-word;
}
#u3715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u3715 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:0px;
  width:145px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3716 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u3717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u3717 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:0px;
  width:88px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3718 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u3719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u3719 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:0px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3720 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u3721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u3721 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:78px;
  height:30px;
  text-align:center;
}
#u3722 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u3723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u3723 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:30px;
  width:156px;
  height:30px;
  text-align:center;
}
#u3724 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:152px;
  word-wrap:break-word;
}
#u3725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u3725 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:30px;
  width:145px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3726 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u3727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u3727 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:30px;
  width:88px;
  height:30px;
  text-align:center;
}
#u3728 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u3729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u3729 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:30px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3730 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u3731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u3731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:78px;
  height:30px;
  text-align:center;
}
#u3732 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u3733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u3733 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:60px;
  width:156px;
  height:30px;
  text-align:center;
}
#u3734 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:152px;
  word-wrap:break-word;
}
#u3735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u3735 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:60px;
  width:145px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3736 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u3737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u3737 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:60px;
  width:88px;
  height:30px;
  text-align:center;
}
#u3738 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u3739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u3739 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:60px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3740 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u3741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u3741 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:78px;
  height:30px;
  text-align:center;
}
#u3742 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u3743 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:90px;
  width:156px;
  height:30px;
  text-align:center;
}
#u3744 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u3745 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:90px;
  width:145px;
  height:30px;
  text-align:center;
}
#u3746 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u3747 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:90px;
  width:88px;
  height:30px;
  text-align:center;
}
#u3748 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u3749 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:90px;
  width:71px;
  height:30px;
  text-align:center;
}
#u3750 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u3751 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:78px;
  height:30px;
  text-align:center;
}
#u3752 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u3753 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:120px;
  width:156px;
  height:30px;
  text-align:center;
}
#u3754 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u3755 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:120px;
  width:145px;
  height:30px;
  text-align:center;
}
#u3756 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u3757 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:120px;
  width:88px;
  height:30px;
  text-align:center;
}
#u3758 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u3759 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:120px;
  width:71px;
  height:30px;
  text-align:center;
}
#u3760 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u3761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:78px;
  height:30px;
  text-align:center;
}
#u3762 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u3763 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:150px;
  width:156px;
  height:30px;
  text-align:center;
}
#u3764 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u3765 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:150px;
  width:145px;
  height:30px;
  text-align:center;
}
#u3766 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u3767 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:150px;
  width:88px;
  height:30px;
  text-align:center;
}
#u3768 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u3769 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:150px;
  width:71px;
  height:30px;
  text-align:center;
}
#u3770 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3771 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:59px;
  width:53px;
  height:18px;
}
#u3772 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3773 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:59px;
  width:27px;
  height:18px;
}
#u3774 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u3775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3775 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:61px;
  width:27px;
  height:18px;
}
#u3776 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u3777 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:59px;
  width:90px;
  height:22px;
}
#u3777_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3777_input:disabled {
  color:grayText;
}
#u3778 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:55px;
  width:90px;
  height:25px;
}
#u3778_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3779 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:56px;
  width:90px;
  height:25px;
}
#u3779_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3780 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:268px;
  width:60px;
  height:25px;
}
#u3780_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3781 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:571px;
  width:129px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
