body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1023px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3783 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:120px;
  width:958px;
  height:108px;
}
#u3784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
}
#u3784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
  text-align:center;
}
#u3785 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:45px;
  word-wrap:break-word;
}
#u3786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
}
#u3786 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:0px;
  width:94px;
  height:40px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3787 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:90px;
  word-wrap:break-word;
}
#u3788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:40px;
}
#u3788 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:0px;
  width:77px;
  height:40px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3789 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:73px;
  word-wrap:break-word;
}
#u3790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:40px;
}
#u3790 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:0px;
  width:123px;
  height:40px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3791 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u3792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
}
#u3792 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:0px;
  width:102px;
  height:40px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3793 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u3794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:40px;
}
#u3794 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:0px;
  width:86px;
  height:40px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3795 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:82px;
  word-wrap:break-word;
}
#u3796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
}
#u3796 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:0px;
  width:87px;
  height:40px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3797 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u3798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u3798 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:0px;
  width:95px;
  height:40px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3799 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u3800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
}
#u3800 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:0px;
  width:84px;
  height:40px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3801 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u3802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u3802 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:0px;
  width:68px;
  height:40px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3803 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  word-wrap:break-word;
}
#u3804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
}
#u3804 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:0px;
  width:88px;
  height:40px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3805 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u3806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
}
#u3806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:49px;
  height:33px;
  text-align:center;
}
#u3807 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:45px;
  word-wrap:break-word;
}
#u3808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:33px;
}
#u3808 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:40px;
  width:94px;
  height:33px;
  color:#000000;
  text-align:center;
}
#u3809 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u3810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:33px;
}
#u3810 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:40px;
  width:77px;
  height:33px;
  color:#000000;
  text-align:center;
}
#u3811 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:73px;
  word-wrap:break-word;
}
#u3812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:33px;
}
#u3812 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:40px;
  width:123px;
  height:33px;
  color:#000000;
  text-align:center;
}
#u3813 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
#u3814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
}
#u3814 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:40px;
  width:102px;
  height:33px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3815 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u3816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
}
#u3816 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:40px;
  width:86px;
  height:33px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3817 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u3818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
}
#u3818 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:40px;
  width:87px;
  height:33px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3819 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u3820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:33px;
}
#u3820 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:40px;
  width:95px;
  height:33px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3821 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u3822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:33px;
}
#u3822 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:40px;
  width:84px;
  height:33px;
  text-align:center;
}
#u3823 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u3824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:33px;
}
#u3824 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:40px;
  width:68px;
  height:33px;
  text-align:center;
}
#u3825 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:64px;
  word-wrap:break-word;
}
#u3826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:33px;
}
#u3826 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:40px;
  width:88px;
  height:33px;
  text-align:center;
}
#u3827 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u3828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u3828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:73px;
  width:49px;
  height:30px;
  text-align:center;
}
#u3829 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u3830 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:73px;
  width:94px;
  height:30px;
  text-align:center;
}
#u3831 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u3832 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:73px;
  width:77px;
  height:30px;
  text-align:center;
}
#u3833 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u3834 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:73px;
  width:123px;
  height:30px;
  text-align:center;
}
#u3835 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u3836 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:73px;
  width:102px;
  height:30px;
  text-align:center;
}
#u3837 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u3838 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:73px;
  width:86px;
  height:30px;
  text-align:center;
}
#u3839 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u3840 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:73px;
  width:87px;
  height:30px;
  text-align:center;
}
#u3841 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u3842 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:73px;
  width:95px;
  height:30px;
  text-align:center;
}
#u3843 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u3844 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:73px;
  width:84px;
  height:30px;
  text-align:center;
}
#u3845 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u3846 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:73px;
  width:68px;
  height:30px;
  text-align:center;
}
#u3847 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u3848 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:73px;
  width:88px;
  height:30px;
  text-align:center;
}
#u3849 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3850 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:49px;
  width:53px;
  height:16px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3852 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:46px;
  width:82px;
  height:25px;
}
#u3852_input {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3853 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:83px;
  width:70px;
  height:25px;
}
#u3853_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3854 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:46px;
  width:70px;
  height:25px;
}
#u3854_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3855 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:240px;
  width:202px;
  height:16px;
}
#u3856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
