body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1186px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2293 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:65px;
  width:145px;
  height:126px;
}
#u2294 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:55px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2295 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:81px;
  width:130px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2296 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u2295_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2297 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:109px;
  width:130px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2298 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u2297_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2299 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:137px;
  width:130px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2300 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u2299_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2301 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:165px;
  width:130px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2302 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u2301_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2303_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2303 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:56px;
  width:53px;
  height:18px;
}
#u2304 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2305 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:60px;
  width:53px;
  height:18px;
}
#u2306 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2307 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:60px;
  width:53px;
  height:18px;
}
#u2308 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2309 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:57px;
  width:90px;
  height:25px;
}
#u2309_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2310 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:60px;
  width:27px;
  height:18px;
}
#u2311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2312 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:60px;
  width:27px;
  height:18px;
}
#u2313 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2314 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:58px;
  width:90px;
  height:22px;
}
#u2314_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2314_input:disabled {
  color:grayText;
}
#u2315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2315 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:94px;
  width:53px;
  height:18px;
}
#u2316 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2317 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:90px;
  width:433px;
  height:25px;
}
#u2317_input {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2318 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:129px;
  width:53px;
  height:18px;
}
#u2319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2320 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:95px;
  width:53px;
  height:18px;
}
#u2321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2322 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:91px;
  width:90px;
  height:25px;
}
#u2322_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u2323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2323 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:224px;
  width:79px;
  height:18px;
}
#u2324 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u2325 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:220px;
  width:90px;
  height:25px;
}
#u2325_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2326 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:224px;
  width:79px;
  height:18px;
}
#u2327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u2328 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:220px;
  width:90px;
  height:25px;
}
#u2328_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2329 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:56px;
  width:90px;
  height:25px;
}
#u2329_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2330 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:57px;
  width:90px;
  height:25px;
}
#u2330_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:420px;
}
#u2332 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:230px;
  width:386px;
  height:420px;
}
#u2333 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:202px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:401px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2334 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:239px;
  width:331px;
  height:401px;
}
#u2335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  word-wrap:break-word;
}
#u2336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2336 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:266px;
  width:663px;
  height:84px;
}
#u2337 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:659px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2338 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:252px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2339 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:316px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2340 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:379px;
  width:663px;
  height:316px;
}
#u2341 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:150px;
  width:659px;
  word-wrap:break-word;
}
#u2342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2342 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:365px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2344 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:400px;
  width:82px;
  height:25px;
}
#u2344_input {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2345 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:438px;
  width:617px;
  height:248px;
}
#u2346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u2346 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
  text-align:center;
}
#u2347 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u2348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u2348 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:0px;
  width:141px;
  height:30px;
  text-align:center;
}
#u2349 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u2350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u2350 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:56px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2351 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:52px;
  word-wrap:break-word;
}
#u2352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:30px;
}
#u2352 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:297px;
  height:30px;
  text-align:center;
}
#u2353 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:293px;
  word-wrap:break-word;
}
#u2354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u2354 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:0px;
  width:59px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2355 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u2356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:45px;
}
#u2356 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:59px;
  height:45px;
  text-align:center;
}
#u2357 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:55px;
  word-wrap:break-word;
}
#u2358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:45px;
}
#u2358 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:30px;
  width:141px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2359 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:137px;
  word-wrap:break-word;
}
#u2360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:45px;
}
#u2360 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:30px;
  width:56px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2361 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:52px;
  word-wrap:break-word;
}
#u2362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:45px;
}
#u2362 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:30px;
  width:297px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2363 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:293px;
  word-wrap:break-word;
}
#u2364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:45px;
}
#u2364 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:30px;
  width:59px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2365 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:55px;
  word-wrap:break-word;
}
#u2366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:48px;
}
#u2366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:75px;
  width:59px;
  height:48px;
  text-align:center;
}
#u2367 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  word-wrap:break-word;
}
#u2368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:48px;
}
#u2368 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:75px;
  width:141px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2369 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:137px;
  word-wrap:break-word;
}
#u2370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:48px;
}
#u2370 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:75px;
  width:56px;
  height:48px;
  text-align:center;
}
#u2371 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:52px;
  word-wrap:break-word;
}
#u2372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:48px;
}
#u2372 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:75px;
  width:297px;
  height:48px;
  text-align:left;
}
#u2373 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:293px;
  word-wrap:break-word;
}
#u2374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:48px;
}
#u2374 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:75px;
  width:59px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2375 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  word-wrap:break-word;
}
#u2376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:47px;
}
#u2376 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:123px;
  width:59px;
  height:47px;
  text-align:center;
}
#u2377 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  word-wrap:break-word;
}
#u2378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:47px;
}
#u2378 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:123px;
  width:141px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2379 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:137px;
  word-wrap:break-word;
}
#u2380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:47px;
}
#u2380 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:123px;
  width:56px;
  height:47px;
  text-align:center;
}
#u2381 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:52px;
  word-wrap:break-word;
}
#u2382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:47px;
}
#u2382 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:123px;
  width:297px;
  height:47px;
  text-align:left;
}
#u2383 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:293px;
  word-wrap:break-word;
}
#u2384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:47px;
}
#u2384 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:123px;
  width:59px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2385 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  word-wrap:break-word;
}
#u2386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:44px;
}
#u2386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:59px;
  height:44px;
  text-align:center;
}
#u2387 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:55px;
  word-wrap:break-word;
}
#u2388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:44px;
}
#u2388 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:170px;
  width:141px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2389 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:137px;
  word-wrap:break-word;
}
#u2390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:44px;
}
#u2390 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:170px;
  width:56px;
  height:44px;
  text-align:center;
}
#u2391 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:52px;
  word-wrap:break-word;
}
#u2392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:44px;
}
#u2392 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:170px;
  width:297px;
  height:44px;
  text-align:left;
}
#u2393 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:293px;
  word-wrap:break-word;
}
#u2394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:44px;
}
#u2394 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:170px;
  width:59px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2395 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:55px;
  word-wrap:break-word;
}
#u2396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:29px;
}
#u2396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:214px;
  width:59px;
  height:29px;
  text-align:center;
}
#u2397 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:29px;
}
#u2398 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:214px;
  width:141px;
  height:29px;
  text-align:center;
}
#u2399 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:29px;
}
#u2400 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:214px;
  width:56px;
  height:29px;
  text-align:center;
}
#u2401 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:29px;
}
#u2402 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:214px;
  width:297px;
  height:29px;
  text-align:center;
}
#u2403 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:29px;
}
#u2404 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:214px;
  width:59px;
  height:29px;
  text-align:center;
}
#u2405 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2406 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:300px;
  width:50px;
  height:25px;
}
#u2406_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u2407 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:304px;
  width:100px;
  height:16px;
}
#u2408 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2407_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2409 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:304px;
  width:100px;
  height:16px;
}
#u2410 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2409_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2411 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:304px;
  width:27px;
  height:18px;
}
#u2412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2413 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:129px;
  width:600px;
  height:81px;
}
#u2413_input {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:81px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:309px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2414 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:720px;
  width:663px;
  height:309px;
}
#u2415 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:146px;
  width:659px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2416 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:710px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2418 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:803px;
  width:54px;
  height:25px;
}
#u2418_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u2419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2419 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:806px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u2421 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:802px;
  width:50px;
  height:25px;
}
#u2421_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u2422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2422 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:806px;
  width:144px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u2424 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:806px;
  width:100px;
  height:16px;
}
#u2425 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2424_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2426 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:806px;
  width:100px;
  height:16px;
}
#u2427 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2426_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2428 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:842px;
  width:150px;
  height:25px;
}
#u2428_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2429 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:846px;
  width:66px;
  height:18px;
}
#u2430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2431 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:877px;
  width:150px;
  height:25px;
}
#u2431_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2432 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:882px;
  width:66px;
  height:18px;
}
#u2433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2434 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:845px;
  width:92px;
  height:18px;
}
#u2435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u2436 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:843px;
  width:66px;
  height:22px;
}
#u2436_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2436_input:disabled {
  color:grayText;
}
#u2437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2437 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:942px;
  width:92px;
  height:18px;
}
#u2438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u2439 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:942px;
  width:100px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2440 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2439_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2441 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:942px;
  width:100px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2442 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2441_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2443 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:942px;
  width:100px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2444 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2443_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2445 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:969px;
  width:100px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2446 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2445_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2447 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:969px;
  width:51px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2448 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u2447_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2449 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:969px;
  width:50px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2450 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u2449_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2451 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:997px;
  width:51px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2452 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u2451_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2453 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:912px;
  width:120px;
  height:16px;
}
#u2454 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u2453_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2455 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:912px;
  width:66px;
  height:18px;
}
#u2456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2457 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:912px;
  width:120px;
  height:16px;
}
#u2458 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u2457_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2459 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:304px;
  width:100px;
  height:16px;
}
#u2460 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2459_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2461 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:743px;
  width:100px;
  height:16px;
}
#u2462 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2461_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2463 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:771px;
  width:54px;
  height:25px;
}
#u2463_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u2464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2464 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:774px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2466 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:775px;
  width:100px;
  height:16px;
}
#u2467 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2466_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2468 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:299px;
  width:107px;
  height:25px;
}
#u2468_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u2469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2469 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:304px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u2471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2471 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:816px;
  width:14px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2472 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
